@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #dbdbdb;
  font-family: "Noto Sans Georgian", sans-serif;
}

header {
  padding: 22px 0;
}

nav {
  display: flex;
  gap: 30px;
  align-items: center;
}

body {
  background-color: #1a1e1f;
}

.parag_div_second,
.parag_div_third {
  margin: 0 auto;
  justify-content: center;
}

.parag {
  color: white;
  vertical-align: baseline;
  font-size: 40px;
  line-height: 1.6em;
}

.button_links_tbc {
  color: #ffffff;
  line-height: 26px;
  display: inline-block;
  padding: 0 10px;
  transition: color 0.3s;
}

.button_links_tbc:hover {
  color: #00a3e0;
}

.fl {
  text-align: center;
  transition: all 0.5s ease;
  list-style: none;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.backgroundtop {
  background-image: url("https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1920,h_400,al_c,q_85,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg");
  height: 352px;
  background-size: cover;
  background-position: center;
}

.parag_contain {
  width: 980px;
  padding: 100px 0;
  padding-bottom: 1300px;
  margin: 0 auto;
}

.parag_second {
  font-family: sans-serif;
  letter-spacing: normal;
  font-size: 28px;
  color: white;
  width: 1000px;
  height: 300px;
  line-height: 1.6em;
}

.parag_div_second {
  padding: 1060px;
  padding: 48px 32px;
  background-color: rgb(43, 43, 43);
  flex-direction: column;
  display: flex;
  align-items: center;
}

.parag_div_third {
  width: 2504px;
  height: 1485px;
  padding-top: 25px;
  background-color: rgb(22, 22, 22);
}

.h1_style {
  margin: auto auto;
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 5rem;
}

.button_links_more {
  color: #00a3e0;
  transition: color 0.3s;
  text-align: start;
  font-size: 18px;
}

/* text marcxniv gvinda */

.button_links_more:hover {
  color: grey;
}

.container {
  max-width: 375px;
  min-height: 325px;
  margin-inline: auto;
  gap: 1rem;
  align-items: start;
  border: 1px solid #ffffff30;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.main_container {
  max-width: 1200px;
  min-height: 100px;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-flow: row wrap;
  align-content: center;
}

.reg_info {
  padding: 1rem;
  padding-bottom: 5rem;
}

.reg_viewmore {
  color: #00adee;
  font-family: sans-serif;
  font-size: 18px;
  margin-left: 1px;
}

/* Saswavlo kursebi gasasworebeli */
